# Godot 4+ specific ignores
.godot/
.assets/
.godot/
addons/
audio/
configs/
fonts/
GodotRetro/
instances/
localization/
main\ player/
materials/
misc/
models/
mod-loader-assets/
overrides/
scenes/
scripts/
textures/
default_bus_layout.tres
gdre_export.log
icon.png
icon.png.import
project.godot
.gitignore